body {
   background-color: black;
   color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar{
   position: absolute;
   background: #282828;
   margin-top: -10px;
   padding-top: 30px;
   padding-left: 0px;
   left: 0;
   width: 300px;
   height:1000%;
}
.sidebar a{
   position: relative;
   color: #fff;
   display: block;
   width: 100%;
   line-height: 22px;
   text-decoration: none;
   padding-left: -30px;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: #2C3435;
   padding-top: 15px;
   padding-bottom: 15px;
   text-align: center;
}
.sidebar .checked {
   position: relative;
   color: rgb(255, 230, 4);
}

.sidebar a:hover{
   background: #1100ff;
}
.sidebar i{
   padding-right: 10px;
}
.sidebar image {
   position: relative;
   color: #ffffff;
   display: block;
   width: 50%;
   line-height: 22px;
   padding-left: 50px;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: #2C3435;
   padding-top: 15px;
   padding-bottom: 15px;
}
.content {
   margin-left: 300px;
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 150px;
}
.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
